@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.bg__slider {
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero__top {
  background-image: url(../images/hero-top-bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.hero__top-title {
  background-image: url(../images/Kyrgyzstan-hero.svg);
  width: 1017px;
  height: 150px;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: 466.5px;
}

.hero__top-arrow {
  background-image: url(../images/hero-top-arrow.svg);
  width: 64px;
  height: 37px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: hero__top-arrow;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes hero__top-arrow {
  0% {
    bottom: 40px;
  }
  100% {
    bottom: 15px;
  }
}
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    position: relative;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item {
    margin-right: 42px;
  }
  &__list-link {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  &__list-item_active {
    border-bottom: 2px solid #f2c94c;
  }
}
.header__hero {
  &-content {
    display: flex;
    justify-content: space-between;
    min-height: 371px;
    // padding-bottom: 52px;
  }
}
.hero__left-slider {
  max-width: 522px;
  width: 100%;
}
.line {
  width: 38px;
  height: 2px;
  border-radius: 20px;
  background-color: #fff;
}
.left__slider {
  &-country {
    margin: 16px 0px;
    font-weight: 400;
  }
  &-place {
    font-weight: normal;
    margin-bottom: 16px;
    font-size: 72px;
    line-height: 88px;
  }
  &-description {
    margin-bottom: 40px;
  }
  &-btns {
    display: flex;
  }
  &-qr {
    display: flex;
    max-width: 330px;
    width: 100%;
    margin-top: 70px;
    align-items: center;
  }
}
.qr-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 24px;
}
.bookmarks-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2c94c;
  position: relative;
  margin-right: 24px;
  cursor: pointer;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.btn {
  color: #000;
  padding: 12px 24px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 199px;
  font-weight: 400;
  text-align: center;
}
.slick-track {
  display: flex;
  justify-content: flex-start;
}
.hero__right-slider {
  .slick-list {
    width: 1200px !important;
    margin-right: -200px;
  }
}
.hero__right-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  & .slick-list {
    width: 889px;
    order: -1;
  }
  & .slick-arrow {
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #f2f2f2;
    font-size: 0;
    outline: none;
    border: none;
  }
  & .slick-prev::after {
    width: 672px;
    height: 2px;
    content: "";
    background-color: #f2f2f2;
    position: absolute;
    left: 147px;
    top: 50%;
    border-radius: 20px;
  }
  & .slick-next {
    left: 70px;
  }
  & .slick-prev::before {
    position: absolute;
    content: "";
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 24px;
    transform: translateX(-73%) translateY(3px);
  }
  & .slick-next::before {
    position: absolute;
    content: "";
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 24px;
    transform: rotate(180deg) translateX(45%) translateY(-2px);
  }
}
.right__slider {
  &-item {
    width: 280px !important;
    height: 440px;
    border-radius: 20px;
    padding: 263px 100px 40px 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
  }
  &-place {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 16px 0;
  }
  &-name {
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
  }
  &-item_sb {
    background-image: url(../images/snow-leopard.png);
    background-repeat: no-repeat;
  }
  &-item_ik {
    background-image: url(../images/ik.png);
    background-repeat: no-repeat;
  }
  &-item_skl {
    background-image: url(../images/songkol-lake.png);
    background-repeat: no-repeat;
  }
  &-item_bur {
    background-image: url(../images/burana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(5px);
    margin-left: 18px;
  }
  &-item_m {
    margin-left: 10px;
  }
}
.slider__counter {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(7px);
}

/*  tourist  */
.wrapper__bg {
  background-image: url(../images/tourist-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
.tourism__title {
  max-width: 434px;
  width: 100%;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 82px;
}
.line_big {
  margin: 0 auto;
  width: 100px;
  margin-bottom: 60px;
}
.tourism__slider {
  display: flex;
  align-items: center;
  & .slick-list {
    max-width: 1440px;
    width: 100%;
    padding: 50px 0px 50px 0px;
    // overflow: visible;
  }
  // & .slick-slide {
  //   opacity: 0;
  //   visibility: hidden;
  // }
  // & .slick-active {
  //   opacity: 1;
  //   visibility: visible;
  // }
  & .slick-arrow {
    width: 48px;
    height: 48px;
    font-size: 0;
    outline: none;
    border: none;
    background: #f2f2f2;
    border-radius: 50%;
  }
  & .slick-arrow.slick-prev {
    margin-right: 30px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/arrow.svg);
      background-repeat: no-repeat;
      transform: translate(-50%, 1px);
      width: 13px;
      height: 24px;
    }
  }
  & .slick-arrow.slick-next {
    margin-left: 40px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/arrow.svg);
      background-repeat: no-repeat;
      transform: translate(-50%, 1px) rotate(180deg);
      width: 13px;
      height: 24px;
    }
  }
  &-item {
    width: 280px !important;
    height: 440px;
    border-radius: 20px;
    padding: 263px 100px 40px 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &-place {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 16px 0;
  }
  &-name {
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
  }
  &-item_sb {
    background-image: url(../images/snow-leopard.png);
    background-repeat: no-repeat;
  }
  &-item_ik {
    background-image: url(../images/ik.png);
    background-repeat: no-repeat;
  }
  &-item_skl {
    background-image: url(../images/songkol-lake.png);
    background-repeat: no-repeat;
  }
  &-item_bur {
    background-image: url(../images/burana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(5px);
    margin-left: 18px;
  }
  &-item_m {
    margin-left: 10px;
  }
}

/*  //tourist  */

.bg__slider {
  .slick-prev,
  .slick-next {
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
  }
}

/* nomad games */
.wrapper__bg-nomad {
  background-image: url(../images/nomad-bg.jpg);
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
}
.nomad__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  color: #fff;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 80px;
}
.play {
  position: absolute;
  background-repeat: no-repeat;
  background: url(../images/play.svg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 0;
  z-index: -1;
}
.nomad__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  & .slick-list {
    max-width: 1410px;
    width: 100%;
    padding-top: 50px;
  }
  & .slick-arrow {
    font-size: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  & .slick-arrow.slick-prev {
    margin-right: 114px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/nomad-arrow.svg);
      background-repeat: no-repeat;
      transform: translate(-50%, 1px);
      width: 25px;
      height: 40px;
    }
  }
  & .slick-arrow.slick-next {
    margin-left: 110px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/nomad-arrow.svg);
      background-repeat: no-repeat;
      transform: translate(-50%, 1px) rotate(180deg);
      width: 25px;
      height: 40px;
    }
  }
  &-item {
    position: relative;
    width: 430px !important;
    height: 600px;
    background-image: url(../images/nomad-img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s;
    &:hover .play {
      opacity: 1;
      z-index: 2;
    }
    &:hover {
      transform: translateY(-50px);
    }
  }
}
